language: go

go:
  - 1.11.x
  - tip

git:
  depth: 1

before_install:
  - go get -t -v ./...

script:
  - go test -v -bench . -benchmem -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)


